<div
  id="template-mo-zay-hero-carousel"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <ol class="carousel-indicators">
    <li
      data-bs-target="#template-mo-zay-hero-carousel"
      data-bs-slide-to="0"
      class="active"
    ></li>
    <li
      data-bs-target="#template-mo-zay-hero-carousel"
      data-bs-slide-to="1"
    ></li>
    <li
      data-bs-target="#template-mo-zay-hero-carousel"
      data-bs-slide-to="2"
    ></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="container">
        <div class="row p-5">
          <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
            <model-viewer
              src="assets/img/banner_img_01.glb"
              alt="Modelo 3D"
              auto-rotate
              camera-controls
              disable-zoom
              style="width: 100%; height: 400px"
            >
            </model-viewer>
          </div>
          <div class="col-lg-6 mb-0 d-flex align-items-center">
            <div class="text-align-left align-self-center">
              <h1 class="h1 text-success"><b>Serie Neotech</b> 3025</h1>
              <h3 class="h2">
                <b>Campera Vórtice</b> de la serie Neotech 3025
              </h3>
              <p>
                Diseñada en los laboratorios de moda avanzada, esta prenda
                combina nanotextiles inteligentes con geometría arquitectónica
                de precisión quirúrgica.
              </p>
              <ul>
                <li>Control climático integrado</li>
                <li>Reacción háptica programable</li>
                <li>Diseño de autor inspirado en IA generativa</li>
              </ul>

              <b>Disponible solo por tiempo limitado.</b>
              <br />
              <i>No vendemos ropa. Vendemos evolución</i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="container">
        <div class="row p-5">
          <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
            <model-viewer
              src="assets/img/banner_img_02.glb"
              alt="Modelo 3D"
              auto-rotate
              camera-controls
              disable-zoom
              style="width: 100%; height: 400px"
            >
            </model-viewer>
          </div>
          <div class="col-lg-6 mb-0 d-flex align-items-center">
            <div class="text-align-left">
              <h1 class="h1 text-success"><b>Serie NovaSuit</b> 3025</h1>
              <h3 class="h2">Vestido HoloSkin de la serie NovaSuit 3025</h3>
              <p>
                Diseñado con tecnología integrada en cada fibra. Su tejido
                inteligente se adapta a la temperatura del cuerpo y presenta
                detalles visuales con retroiluminación LED que responden al
                movimiento.
              </p>

              <ul>
                <li>Tecnología térmica adaptativa</li>
                <li>Paneles reflectantes con retroiluminación</li>
                <li>Corte ergonómico de alta compresión</li>
                <li>Material resistente y flexible de última generación</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="container">
        <div class="row p-5">
          <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
            <model-viewer
              src="assets/img/banner_img_03.glb"
              alt="Modelo 3D"
              auto-rotate
              camera-controls
              disable-zoom
              style="width: 100%; height: 400px"
            >
            </model-viewer>
          </div>
          <div class="col-lg-6 mb-0 d-flex align-items-center">
            <div class="text-align-left">
              <h1 class="h1 text-success"><b>Serie Neotech</b> 3025</h1>
              <h3 class="h2">HoloFrame X3</h3>
              <p>
                Los HoloFrame X3 son el resultado de una ingeniería óptica
                avanzada. Su estructura reticular, inspirada en geometrías
                biomiméticas, ofrece resistencia, flexibilidad y una estética
                que fusiona lo digital con lo orgánico.
              </p>
              <ul>
                <li>Diseño envolvente con máxima ergonomía</li>
                <li>
                  Peso ultraliviano y sin presión en los puntos de contacto
                </li>
                <li>
                  Recubrimiento fotocromático inteligente que se adapta a la luz
                  ambiental
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a
    class="carousel-control-prev text-decoration-none w-auto ps-3"
    href="#template-mo-zay-hero-carousel"
    role="button"
    data-bs-slide="prev"
  >
    <i class="fas fa-chevron-left"></i>
  </a>
  <a
    class="carousel-control-next text-decoration-none w-auto pe-3"
    href="#template-mo-zay-hero-carousel"
    role="button"
    data-bs-slide="next"
  >
    <i class="fas fa-chevron-right"></i>
  </a>
</div>

<section class="container py-5">
  <div class="row text-center pt-3">
    <div class="col-lg-6 m-auto">
      <h1 class="h1">Categorías</h1>
      <p>
        Te presentamos las piezas más icónicas de nuestro catálogo: moda
        experimental, calzado de diseño paramétrico y accesorios que desafían
        los límites del tiempo.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-4 p-5 mt-3">
      <a href="#"
        ><img
          src="assets/img/category_img_01.jpg"
          class="rounded-circle img-fluid border"
      /></a>
      <h5 class="text-center mt-3 mb-3">Indumentaria</h5>
      <p class="text-center"><a class="btn btn-success">Ver colección</a></p>
    </div>
    <div class="col-12 col-md-4 p-5 mt-3">
      <a href="#"
        ><img
          src="assets/img/category_img_02.jpg"
          class="rounded-circle img-fluid border"
      /></a>
      <h2 class="h5 text-center mt-3 mb-3">Calzado</h2>
      <p class="text-center"><a class="btn btn-success">Ver colección</a></p>
    </div>
    <div class="col-12 col-md-4 p-5 mt-3">
      <a href="#"
        ><img
          src="assets/img/category_img_03.jpg"
          class="rounded-circle img-fluid border"
      /></a>
      <h2 class="h5 text-center mt-3 mb-3">Accesorios</h2>
      <p class="text-center"><a class="btn btn-success">Ver colección</a></p>
    </div>
  </div>
</section>

<section class="bg-light">
  <div class="container py-5">
    <div class="row text-center py-3">
      <div class="col-lg-6 m-auto">
        <h1 class="h1">Productos destacados</h1>
        <p>Explorá nuestra selección exclusiva de productos destacados.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-4 mb-4">
        <div class="card h-100">
          <a href="shop-single.html">
            <img
              src="assets/img/feature_prod_01.jpg"
              class="card-img-top"
              alt="..."
            />
          </a>
          <div class="card-body">
            <ul class="list-unstyled d-flex justify-content-between">
              <li>
                <i class="text-warning fa fa-star"></i>
                <i class="text-warning fa fa-star"></i>
                <i class="text-warning fa fa-star"></i>
                <i class="text-warning fa fa-star"></i>
                <i class="text-muted fa fa-star"></i>
              </li>
              <li class="text-muted text-right">$240.00</li>
            </ul>
            <a href="shop-single.html" class="h2 text-decoration-none text-dark"
              >Campera Neográfica</a
            >
            <p class="card-text">
              Material de neopreno técnico con cortes angulares que evocan una
              estética cibernética. Una prenda funcional y vanguardista. Ideal
              para entornos urbanos e híbridos.
            </p>
            <p class="text-muted">Reseñas (24)</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 mb-4">
        <div class="card h-100">
          <a href="shop-single.html">
            <img
              src="assets/img/feature_prod_02.jpg"
              class="card-img-top"
              alt="..."
            />
          </a>
          <div class="card-body">
            <ul class="list-unstyled d-flex justify-content-between">
              <li>
                <i class="text-warning fa fa-star"></i>
                <i class="text-warning fa fa-star"></i>
                <i class="text-warning fa fa-star"></i>
                <i class="text-warning fa fa-star"></i>
                <i class="text-warning fa fa-star"></i>
              </li>
              <li class="text-muted text-right">$360.00</li>
            </ul>
            <a href="shop-single.html" class="h2 text-decoration-none text-dark"
              >Visor Óptico Orbital V1</a
            >
            <p class="card-text">
              Diseño envolvente de inspiración interplanetaria, con lentes de
              alta refracción y marco flotante. Protección visual de última
              generación.
            </p>
            <p class="text-muted">Reseñas (48)</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 mb-4">
        <div class="card h-100">
          <a href="shop-single.html">
            <img
              src="assets/img/feature_prod_03.jpg"
              class="card-img-top"
              alt="..."
            />
          </a>
          <div class="card-body">
            <ul class="list-unstyled d-flex justify-content-between">
              <li>
                <i class="text-warning fa fa-star"></i>
                <i class="text-warning fa fa-star"></i>
                <i class="text-warning fa fa-star"></i>
                <i class="text-warning fa fa-star"></i>
                <i class="text-warning fa fa-star"></i>
              </li>
              <li class="text-muted text-right">$480.00</li>
            </ul>
            <a href="shop-single.html" class="h2 text-decoration-none text-dark"
              >Botas Quantum-Drive 3D</a
            >
            <p class="card-text">
              Calzado impreso en 3D con tecnología de absorción cinética
              integrada. El equilibrio perfecto entre funcionalidad biomecánica
              y estética posthumana.
            </p>
            <p class="text-muted">Reseñas (74)</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
