<h1>Registro</h1>

<form [formGroup]="registro()" (ngSubmit)="onSubmit()">
  <label for="nombre">Nombre</label>
  <input type="text" name="nombre" id="nombre" formControlName="nombre" />
  @if(registro().get('nombre')?.hasError('required') &&
  registro().get('nombre')?.touched){
  <span class="text-danger">Este campo es requerido</span>
  } @if(registro().get('nombre')?.hasError('minlength') &&
  registro().get('nombre')?.touched){
  <span class="text-danger">El nombre debe tener mínimo tres carácteres</span>
  }
  <br /><br />

  <label for="apellido">Apellido</label>
  <input type="text" name="apellido" id="apellido" formControlName="apellido" />
  @if(registro().get('apellido')?.hasError('required') &&
  registro().get('apellido')?.touched){
  <span class="text-danger">Este campo es requerido</span>
  } @if(registro().get('apellido')?.hasError('minlength') &&
  registro().get('apellido')?.touched){
  <span class="text-danger">El apellido debe tener mínimo tres carácteres</span>
  }
  <br /><br />

  <label for="direccion">Dirección</label>
  <input type="text" name="direccion" id="direccion" formControlName="direccion" />
  @if(registro().get('direccion')?.hasError('required') &&
  registro().get('direccion')?.touched){
  <span class="text-danger">Este campo es requerido</span>
  } @if(registro().get('direccion')?.hasError('minlength') &&
  registro().get('direccion')?.touched){
  <span class="text-danger"
    >La dirección debe tener mínimo cinco carácteres</span
  >
  }
  <br /><br />

  <label for="email">Email</label>
  <input type="email" name="email" id="email" formControlName="email" />
  @if(registro().get('email')?.hasError('required') &&
  registro().get('email')?.touched){
  <span class="text-danger">Este campo es requerido</span>
  } @if(registro().get('email')?.hasError('email') &&
  registro().get('email')?.touched){
  <span class="text-danger">El formato no es el correcto</span>
  }
  <br /><br />

  <label for="passw">Contraseña</label>
  <input
    type="password"
    name="passw"
    id="passw"
    formControlName="passw"
  />
  @if(registro().get('passw')?.hasError('required') &&
  registro().get('passw')?.touched){
  <span class="text-danger">Este campo es requerido</span>
  <br><br>
  } @if(registro().get('passw')?.hasError('minlength') &&
  registro().get('passw')?.touched){
  <span class="text-danger"
    >La contraseña debe tener mínimo cinco carácteres</span
  > <br><br>
}@if(registro().get('passw')?.errors?.['sinNumero'] &&
  registro().get('passw')?.touched){
  <span class="text-danger"
    >La contraseña debe contener al menos un número</span
  ><br><br>
}@if(registro().get('passw')?.errors?.['sinMayusculaOMinuscula'] &&
  registro().get('passw')?.touched){
  <span class="text-danger"
    >La contraseña debe contener al menos una letra mayúscula y una minúscula</span
  >}
  <br /><br />

  <input
    type="submit"
    name="save"
    id="save"
    value="Guardar"
    [disabled]="registro().invalid"
  />

  <div *ngIf="mensajeError" class="alert alert-danger">
  {{ mensajeError }}
</div>

<div *ngIf="mensajeExito" class="alert alert-success">
  {{ mensajeExito }} <br><br>
  <a routerLink="/inicio-sesion" routerLinkActive="router-link-active">Iniciar sesión</a>
</div>

</form>
