<h1>Registro</h1>

<form [formGroup]="registro()">
  <label for="name">Nombre</label>
  <input type="text" name="name" id="name" formControlName="name" />
  @if(registro().get('name')?.hasError('required') &&
  registro().get('name')?.touched){
  <span class="text-danger">Este campo es requerido</span>
  } @if(registro().get('name')?.hasError('minlength') &&
  registro().get('name')?.touched){
  <span class="text-danger">El nombre debe tener mínimo tres carácteres</span>
  }
  <br /><br />

  <label for="lastName">Apellido</label>
  <input type="text" name="lastName" id="lastName" formControlName="lastName" />
  @if(registro().get('lastName')?.hasError('required') &&
  registro().get('lastName')?.touched){
  <span class="text-danger">Este campo es requerido</span>
  } @if(registro().get('lastName')?.hasError('minlength') &&
  registro().get('lastName')?.touched){
  <span class="text-danger">El apellido debe tener mínimo tres carácteres</span>
  }
  <br /><br />

  <label for="address">Dirección</label>
  <input type="text" name="address" id="address" formControlName="address" />
  @if(registro().get('address')?.hasError('required') &&
  registro().get('address')?.touched){
  <span class="text-danger">Este campo es requerido</span>
  } @if(registro().get('address')?.hasError('minlength') &&
  registro().get('address')?.touched){
  <span class="text-danger"
    >La dirección debe tener mínimo cinco carácteres</span
  >
  }
  <br /><br />

  <label for="email">Email</label>
  <input type="email" name="email" id="email" formControlName="email" />
  @if(registro().get('email')?.hasError('required') &&
  registro().get('email')?.touched){
  <span class="text-danger">Este campo es requerido</span>
  } @if(registro().get('email')?.hasError('email') &&
  registro().get('email')?.touched){
  <span class="text-danger">El formato no es el correcto</span>
  }
  <br /><br />

  <label for="password">Contraseña</label>
  <input
    type="password"
    name="password"
    id="password"
    formControlName="password"
  />
  @if(registro().get('password')?.hasError('required') &&
  registro().get('password')?.touched){
  <span class="text-danger">Este campo es requerido</span>
  } @if(registro().get('password')?.hasError('minlength') &&
  registro().get('password')?.touched){
  <span class="text-danger"
    >La contraseña debe tener mínimo cinco carácteres</span
  > 
}@if(registro().get('password')?.errors?.['sinNumero'] &&
  registro().get('password')?.touched){
  <span class="text-danger"
    >La contraseña debe contener al menos un número</span
  >
}@if(registro().get('password')?.errors?.['sinMayusculaOMinuscula'] &&
  registro().get('password')?.touched){
  <span class="text-danger"
    >La contraseña debe contener al menos una letra mayúscula y una minúscula</span
  >}
  <br /><br />

  <input
    type="submit"
    name="save"
    id="save"
    value="Guardar"
    [disabled]="registro().invalid"
  />
</form>
