<h1>¡Hola!</h1>

<form [formGroup]="login()" (ngSubmit)="onSubmit()">
  <label for="user">Email</label>
  <input type="email" name="email" id="email" formControlName="email" />
  @if(login().get('email')?.hasError('required') &&
  login().get('email')?.touched){
  <span class="text-danger">Este campo es requerido</span>
  } @if(login().get('email')?.hasError('email') &&
  login().get('email')?.touched){
  <span class="text-danger">El formato no es el correcto</span>
  }<br /><br />

  <label for="passw">Contraseña</label>
  <input type="password" name="passwd" id="passw" formControlName="passw" />
  @if(login().get('passw')?.hasError('required') &&
  login().get('passw')?.touched){
  <span class="text-danger">Este campo es requerido</span>}
  <br /><br />

  <input type="submit" value="Iniciar sesión" />
</form>

<br /><br />
<a routerLink="/registro" routerLinkActive="router-link-active">Todavía no tengo cuenta</a>