<div class="product-list-container">
  <h1>Nuestros Productos</h1>

  <ng-container *ngIf="productos$ | async as productos; else loading">
    <div class="product-grid" *ngIf="productos.length > 0; else noProducts">
      <div class="product-card" *ngFor="let producto of productos">
        <div class="product-card-content">
          <h2>{{ producto.nombre }}</h2>
          <p class="description">{{ producto.descripcion }}</p>
          <p class="category">Categoría: {{ producto.tipo_producto.tipo }}</p>
          <p class="price">
            {{ producto.precio | currency : "ARS" : "symbol-narrow" : "1.2-2" }}
          </p>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-template #loading>
    <p>Cargando productos...</p>
  </ng-template>

  <ng-template #noProducts>
    <p>No hay productos para mostrar en este momento.</p>
  </ng-template>
</div>
