<h1>Lista de productos</h1>

<form (ngSubmit)="buscar()">
  <input
    type="text"
    [(ngModel)]="nombre"
    name="nombre"
    placeholder="Buscar por nombre"
  />
  <select [(ngModel)]="color" name="color">
    <option value="">Todos los colores</option>
    <option *ngFor="let c of colores" [value]="c">{{ c }}</option>
  </select>
  <button type="submit">Filtrar</button>
  <button type="button" (click)="limpiar()">Limpiar</button>
</form>

<ul>
  <li *ngFor="let producto of productos()">
    {{ producto.nombre }} - {{ producto.color }} - ${{ producto.precio }}
  </li>
</ul>
