<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow p-4 bg-light">
        <h1 class="h2 text-center mb-4">Nueva contraseña</h1>

        <form [formGroup]="cambioPassword()" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" formControlName="email"
              placeholder="ejemplo@email.com" />
            @if(cambioPassword().get('email')?.hasError('required') && cambioPassword().get('email')?.touched) {
            <span class="text-danger">Este campo es requerido</span>
            }
            @if(cambioPassword().get('email')?.hasError('email') && cambioPassword().get('email')?.touched) {
            <span class="text-danger">El formato no es el correcto</span>
            }
          </div>

          <div class="mb-3">
            <label for="passwNueva" class="form-label">Nueva contraseña</label>
            <input type="password" class="form-control" id="passwNueva" formControlName="passwNueva"
              placeholder="Tu contraseña" />
            @if(cambioPassword().get('passwNueva')?.hasError('required') && cambioPassword().get('passwNueva')?.touched)
            {
            <p class="text-danger">Este campo es requerido</p>
            }
            @if(cambioPassword().get('passwNueva')?.hasError('minlength') &&
            cambioPassword().get('passwNueva')?.touched) {
            <p class="text-danger">La contraseña debe tener mínimo cinco carácteres</p>
            }
            @if(cambioPassword().get('passwNueva')?.errors?.['sinNumero'] &&
            cambioPassword().get('passwNueva')?.touched) {
            <p class="text-danger">La contraseña debe contener al menos un número</p>
            }
            @if(cambioPassword().get('passwNueva')?.errors?.['sinMayusculaOMinuscula'] &&
            cambioPassword().get('passwNueva')?.touched) {
            <p class="text-danger">La contraseña debe contener al menos una letra mayúscula y una minúscula</p>
            }
          </div>

          <div class="d-grid gap-2">
            <input type="submit" value="Cambiar contraseña" class="btn btn-success"
              [disabled]="cambioPassword().invalid" />
          </div>

          <div *ngIf="mensajeError" class="alert alert-danger mt-3">
            {{ mensajeError }}
          </div>
          <div *ngIf="mensajeExito" class="alert alert-success">
            {{ mensajeExito }} <br /><br />
            <a routerLink="/inicio-sesion" routerLinkActive="router-link-active" class="text-success">
              Iniciar sesión
            </a>
          </div>
          <div class="text-center mt-4">
            <a routerLink="/registro" routerLinkActive="router-link-active" class="text-success">
              Todavía no tengo cuenta
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>